/* * {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family:  Tahoma, Arial;
}
.slider-container{
    margin: 10px auto;
    width: 800px;
    height: 250px;
    position: relative;
}
.slider-container img{
 opacity: 0;
 transition: opacity 1s;
 z-index: 1;
    position: absolute;
}
.slider-container img.active{
 opacity: 1;
}
.slider-container .slide-number{
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slider-controls{
    width: 800px;
    margin: auto;
}
.slider-controls .next {
    position: relative;
    top: -31px;
}
.slider-controls .prev,
.slider-controls .next{
    background-color: blue;
    color: antiquewhite;
    width: 20%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    padding: 5px ;
    font-size: 16px;
}
.slider-controls .prev{
    float: left;
}
.slider-controls .next{
    float: right;
}
.slider-controls .prev.diabled,
.slider-controls .next.diabled{
    background-color: rgb(156, 156, 245);
    cursor: no-drop;
}
.slider-controls .indicators{
    width: 60%;
    float: left;
}
.slider-controls .indicators ul{
list-style: none;
margin: 0;
text-align: center;
}
.slider-controls .indicators ul li{
 display: inline-block;
 background-color: #eee;
 color: #000;
 font-weight: bold;
 height: 28px;
 width: 28px;
 border-radius: 4px;
 margin: 0 2px;
 line-height: 28px;
 cursor: pointer;

}
.slider-controls .indicators ul li.active{
    background-color: blue;
    color: antiquewhite;
} */

/* end p 1  */


* {
    box-sizing: border-box;
}
body{
    font-family:  Tahoma, Arial;
    background-color: #000000db;
}
.repos-container{
    width: 800px;
    background-color: #f6f6f6;
    margin: auto;
}
.repos-container .get-repo{
    padding: 20px;
    display: flex;
    background-color: #eee;
}
.repos-container .get-repo input{
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    height: 54px;

}
.repos-container .get-repo input:focus{
    outline: 2px solid rgb(246, 70, 158);
}
.repos-container .get-repo .get-button{
    width: 140px;
    margin-left: 10px;
    height: 54px;
    background-color:rgb(246, 70, 158);
    color: #fff;
    line-height: 54px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.repos-container .show-data{
    padding: 20px;
    background-color:rgba(172, 165, 165, 0.815) ;
}
.repos-container .show-data .repo-box {
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.repos-container .show-data .repo-box:not(:last-child) {
    margin-bottom: 5px;
}
.repos-container .show-data .repo-box a,
.repos-container .show-data .repo-box span
 {
    float: right;
    margin-left: 4px ;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    color: #fff;
    width: 90px;
    text-align: center;
}
.repos-container .show-data .repo-box a{
    text-decoration: none;
    background-color:rgb(78, 117, 188);
}
.repos-container .show-data .repo-box span
 {
    position: relative;
    top: -20px;
    background-color: rgb(78, 117, 188);
}










